<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.es.dao.ClueMergerRecordMapper" >
  <resultMap id="BaseResultMap" type="com.am.es.entity.ClueMergerRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="retain_clue_guid" property="retainClueGuid" jdbcType="VARCHAR" />
    <result column="retain_clue_no" property="retainClueNo" jdbcType="VARCHAR" />
    <result column="retain_customer_guid" property="retainCustomerGuid" jdbcType="VARCHAR" />
    <result column="retain_customer_no" property="retainCustomerNo" jdbcType="VARCHAR" />
    <result column="merger_clue_guid" property="mergerClueGuid" jdbcType="VARCHAR" />
    <result column="merger_clue_no" property="mergerClueNo" jdbcType="VARCHAR" />
    <result column="merger_customer_guid" property="mergerCustomerGuid" jdbcType="VARCHAR" />
    <result column="merger_customer_no" property="mergerCustomerNo" jdbcType="VARCHAR" />
    <result column="merger_time" property="mergerTime" jdbcType="TIMESTAMP" />
    <result column="merger_operator" property="mergerOperator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.am.es.entity.ClueMergerRecord" extends="BaseResultMap" >
    <result column="merger_remark" property="mergerRemark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, retain_clue_guid, retain_clue_no, retain_customer_guid, retain_customer_no, merger_clue_guid, 
    merger_clue_no, merger_customer_guid, merger_customer_no, merger_time, merger_operator, 
    create_time, create_by, update_time, update_by
  </sql>
  <sql id="Blob_Column_List" >
    merger_remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.am.es.entity.ClueMergerRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clue_merger_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.am.es.entity.ClueMergerRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clue_merger_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clue_merger_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clue_merger_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.am.es.entity.ClueMergerRecordExample" >
    delete from clue_merger_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.am.es.entity.ClueMergerRecord" >
    insert into clue_merger_record (id, retain_clue_guid, retain_clue_no, 
      retain_customer_guid, retain_customer_no, merger_clue_guid, 
      merger_clue_no, merger_customer_guid, merger_customer_no, 
      merger_time, merger_operator, create_time, 
      create_by, update_time, update_by, 
      merger_remark)
    values (#{id,jdbcType=INTEGER}, #{retainClueGuid,jdbcType=VARCHAR}, #{retainClueNo,jdbcType=VARCHAR}, 
      #{retainCustomerGuid,jdbcType=VARCHAR}, #{retainCustomerNo,jdbcType=VARCHAR}, #{mergerClueGuid,jdbcType=VARCHAR}, 
      #{mergerClueNo,jdbcType=VARCHAR}, #{mergerCustomerGuid,jdbcType=VARCHAR}, #{mergerCustomerNo,jdbcType=VARCHAR}, 
      #{mergerTime,jdbcType=TIMESTAMP}, #{mergerOperator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{mergerRemark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.am.es.entity.ClueMergerRecord" >
    insert into clue_merger_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="retainClueGuid != null" >
        retain_clue_guid,
      </if>
      <if test="retainClueNo != null" >
        retain_clue_no,
      </if>
      <if test="retainCustomerGuid != null" >
        retain_customer_guid,
      </if>
      <if test="retainCustomerNo != null" >
        retain_customer_no,
      </if>
      <if test="mergerClueGuid != null" >
        merger_clue_guid,
      </if>
      <if test="mergerClueNo != null" >
        merger_clue_no,
      </if>
      <if test="mergerCustomerGuid != null" >
        merger_customer_guid,
      </if>
      <if test="mergerCustomerNo != null" >
        merger_customer_no,
      </if>
      <if test="mergerTime != null" >
        merger_time,
      </if>
      <if test="mergerOperator != null" >
        merger_operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="mergerRemark != null" >
        merger_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="retainClueGuid != null" >
        #{retainClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="retainClueNo != null" >
        #{retainClueNo,jdbcType=VARCHAR},
      </if>
      <if test="retainCustomerGuid != null" >
        #{retainCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="retainCustomerNo != null" >
        #{retainCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerClueGuid != null" >
        #{mergerClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="mergerClueNo != null" >
        #{mergerClueNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerCustomerGuid != null" >
        #{mergerCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="mergerCustomerNo != null" >
        #{mergerCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerTime != null" >
        #{mergerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergerOperator != null" >
        #{mergerOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="mergerRemark != null" >
        #{mergerRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.am.es.entity.ClueMergerRecordExample" resultType="java.lang.Integer" >
    select count(*) from clue_merger_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clue_merger_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.retainClueGuid != null" >
        retain_clue_guid = #{record.retainClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.retainClueNo != null" >
        retain_clue_no = #{record.retainClueNo,jdbcType=VARCHAR},
      </if>
      <if test="record.retainCustomerGuid != null" >
        retain_customer_guid = #{record.retainCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.retainCustomerNo != null" >
        retain_customer_no = #{record.retainCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mergerClueGuid != null" >
        merger_clue_guid = #{record.mergerClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.mergerClueNo != null" >
        merger_clue_no = #{record.mergerClueNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mergerCustomerGuid != null" >
        merger_customer_guid = #{record.mergerCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.mergerCustomerNo != null" >
        merger_customer_no = #{record.mergerCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mergerTime != null" >
        merger_time = #{record.mergerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mergerOperator != null" >
        merger_operator = #{record.mergerOperator,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.mergerRemark != null" >
        merger_remark = #{record.mergerRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update clue_merger_record
    set id = #{record.id,jdbcType=INTEGER},
      retain_clue_guid = #{record.retainClueGuid,jdbcType=VARCHAR},
      retain_clue_no = #{record.retainClueNo,jdbcType=VARCHAR},
      retain_customer_guid = #{record.retainCustomerGuid,jdbcType=VARCHAR},
      retain_customer_no = #{record.retainCustomerNo,jdbcType=VARCHAR},
      merger_clue_guid = #{record.mergerClueGuid,jdbcType=VARCHAR},
      merger_clue_no = #{record.mergerClueNo,jdbcType=VARCHAR},
      merger_customer_guid = #{record.mergerCustomerGuid,jdbcType=VARCHAR},
      merger_customer_no = #{record.mergerCustomerNo,jdbcType=VARCHAR},
      merger_time = #{record.mergerTime,jdbcType=TIMESTAMP},
      merger_operator = #{record.mergerOperator,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      merger_remark = #{record.mergerRemark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clue_merger_record
    set id = #{record.id,jdbcType=INTEGER},
      retain_clue_guid = #{record.retainClueGuid,jdbcType=VARCHAR},
      retain_clue_no = #{record.retainClueNo,jdbcType=VARCHAR},
      retain_customer_guid = #{record.retainCustomerGuid,jdbcType=VARCHAR},
      retain_customer_no = #{record.retainCustomerNo,jdbcType=VARCHAR},
      merger_clue_guid = #{record.mergerClueGuid,jdbcType=VARCHAR},
      merger_clue_no = #{record.mergerClueNo,jdbcType=VARCHAR},
      merger_customer_guid = #{record.mergerCustomerGuid,jdbcType=VARCHAR},
      merger_customer_no = #{record.mergerCustomerNo,jdbcType=VARCHAR},
      merger_time = #{record.mergerTime,jdbcType=TIMESTAMP},
      merger_operator = #{record.mergerOperator,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.am.es.entity.ClueMergerRecord" >
    update clue_merger_record
    <set >
      <if test="retainClueGuid != null" >
        retain_clue_guid = #{retainClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="retainClueNo != null" >
        retain_clue_no = #{retainClueNo,jdbcType=VARCHAR},
      </if>
      <if test="retainCustomerGuid != null" >
        retain_customer_guid = #{retainCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="retainCustomerNo != null" >
        retain_customer_no = #{retainCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerClueGuid != null" >
        merger_clue_guid = #{mergerClueGuid,jdbcType=VARCHAR},
      </if>
      <if test="mergerClueNo != null" >
        merger_clue_no = #{mergerClueNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerCustomerGuid != null" >
        merger_customer_guid = #{mergerCustomerGuid,jdbcType=VARCHAR},
      </if>
      <if test="mergerCustomerNo != null" >
        merger_customer_no = #{mergerCustomerNo,jdbcType=VARCHAR},
      </if>
      <if test="mergerTime != null" >
        merger_time = #{mergerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergerOperator != null" >
        merger_operator = #{mergerOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="mergerRemark != null" >
        merger_remark = #{mergerRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.am.es.entity.ClueMergerRecord" >
    update clue_merger_record
    set retain_clue_guid = #{retainClueGuid,jdbcType=VARCHAR},
      retain_clue_no = #{retainClueNo,jdbcType=VARCHAR},
      retain_customer_guid = #{retainCustomerGuid,jdbcType=VARCHAR},
      retain_customer_no = #{retainCustomerNo,jdbcType=VARCHAR},
      merger_clue_guid = #{mergerClueGuid,jdbcType=VARCHAR},
      merger_clue_no = #{mergerClueNo,jdbcType=VARCHAR},
      merger_customer_guid = #{mergerCustomerGuid,jdbcType=VARCHAR},
      merger_customer_no = #{mergerCustomerNo,jdbcType=VARCHAR},
      merger_time = #{mergerTime,jdbcType=TIMESTAMP},
      merger_operator = #{mergerOperator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      merger_remark = #{mergerRemark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.am.es.entity.ClueMergerRecord" >
    update clue_merger_record
    set retain_clue_guid = #{retainClueGuid,jdbcType=VARCHAR},
      retain_clue_no = #{retainClueNo,jdbcType=VARCHAR},
      retain_customer_guid = #{retainCustomerGuid,jdbcType=VARCHAR},
      retain_customer_no = #{retainCustomerNo,jdbcType=VARCHAR},
      merger_clue_guid = #{mergerClueGuid,jdbcType=VARCHAR},
      merger_clue_no = #{mergerClueNo,jdbcType=VARCHAR},
      merger_customer_guid = #{mergerCustomerGuid,jdbcType=VARCHAR},
      merger_customer_no = #{mergerCustomerNo,jdbcType=VARCHAR},
      merger_time = #{mergerTime,jdbcType=TIMESTAMP},
      merger_operator = #{mergerOperator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>