<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.es.dao.ClueCommunicateRecordMapper" >
  <resultMap id="BaseResultMap" type="com.am.es.entity.ClueCommunicateRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="custom_guid" property="customGuid" jdbcType="VARCHAR" />
    <result column="custom_no" property="customNo" jdbcType="VARCHAR" />
    <result column="clue_guid" property="clueGuid" jdbcType="VARCHAR" />
    <result column="clue_no" property="clueNo" jdbcType="VARCHAR" />
    <result column="tool" property="tool" jdbcType="INTEGER" />
    <result column="communicat_time" property="communicatTime" jdbcType="TIMESTAMP" />
    <result column="next_communicate_time" property="nextCommunicateTime" jdbcType="TIMESTAMP" />
    <result column="clue_status" property="clueStatus" jdbcType="VARCHAR" />
    <result column="old_clue_status" property="oldClueStatus" jdbcType="VARCHAR" />
    <result column="communicate_depart" property="communicateDepart" jdbcType="VARCHAR" />
    <result column="commucinate_status" property="commucinateStatus" jdbcType="INTEGER" />
    <result column="tel_traffic_status" property="telTrafficStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="erp_created_by" property="erpCreatedBy" jdbcType="VARCHAR" />
    <result column="erp_gd_gtjd_next" property="erpGdGtjdNext" jdbcType="VARCHAR" />
    <result column="erp_gd_name" property="erpGdName" jdbcType="VARCHAR" />
    <result column="erp_gd_actionproject" property="erpGdActionproject" jdbcType="VARCHAR" />
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="erp_create_by" property="erpCreateBy" jdbcType="VARCHAR" />
    <result column="call_record_id" property="callRecordId" jdbcType="INTEGER" />
    <result column="communicate_record_type" property="communicateRecordType" jdbcType="INTEGER" />
    <result column="call_duration" property="callDuration" jdbcType="INTEGER" />
    <result column="is_pushed_to_erp" property="isPushedToErp" jdbcType="INTEGER" />
    <result column="push_fail_time" property="pushFailTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.am.es.entity.ClueCommunicateRecord" extends="BaseResultMap" >
    <result column="communicat_content" property="communicatContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, custom_guid, custom_no, clue_guid, clue_no, tool, communicat_time, next_communicate_time, 
    clue_status, old_clue_status, communicate_depart, commucinate_status, tel_traffic_status, 
    create_time, create_by, erp_created_by, erp_gd_gtjd_next, erp_gd_name, erp_gd_actionproject, 
    guid, erp_create_by, call_record_id, communicate_record_type, call_duration, is_pushed_to_erp, 
    push_fail_time
  </sql>
  <sql id="Blob_Column_List" >
    communicat_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.am.es.entity.ClueCommunicateRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clue_communicate_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.am.es.entity.ClueCommunicateRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clue_communicate_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from clue_communicate_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clue_communicate_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.am.es.entity.ClueCommunicateRecordExample" >
    delete from clue_communicate_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.am.es.entity.ClueCommunicateRecord" >
    insert into clue_communicate_record (id, custom_guid, custom_no, 
      clue_guid, clue_no, tool, 
      communicat_time, next_communicate_time, 
      clue_status, old_clue_status, communicate_depart, 
      commucinate_status, tel_traffic_status, create_time, 
      create_by, erp_created_by, erp_gd_gtjd_next, 
      erp_gd_name, erp_gd_actionproject, guid, 
      erp_create_by, call_record_id, communicate_record_type, 
      call_duration, is_pushed_to_erp, push_fail_time, 
      communicat_content)
    values (#{id,jdbcType=INTEGER}, #{customGuid,jdbcType=VARCHAR}, #{customNo,jdbcType=VARCHAR}, 
      #{clueGuid,jdbcType=VARCHAR}, #{clueNo,jdbcType=VARCHAR}, #{tool,jdbcType=INTEGER}, 
      #{communicatTime,jdbcType=TIMESTAMP}, #{nextCommunicateTime,jdbcType=TIMESTAMP}, 
      #{clueStatus,jdbcType=VARCHAR}, #{oldClueStatus,jdbcType=VARCHAR}, #{communicateDepart,jdbcType=VARCHAR}, 
      #{commucinateStatus,jdbcType=INTEGER}, #{telTrafficStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{erpCreatedBy,jdbcType=VARCHAR}, #{erpGdGtjdNext,jdbcType=VARCHAR}, 
      #{erpGdName,jdbcType=VARCHAR}, #{erpGdActionproject,jdbcType=VARCHAR}, #{guid,jdbcType=VARCHAR}, 
      #{erpCreateBy,jdbcType=VARCHAR}, #{callRecordId,jdbcType=INTEGER}, #{communicateRecordType,jdbcType=INTEGER}, 
      #{callDuration,jdbcType=INTEGER}, #{isPushedToErp,jdbcType=INTEGER}, #{pushFailTime,jdbcType=INTEGER}, 
      #{communicatContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.am.es.entity.ClueCommunicateRecord" >
    insert into clue_communicate_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customGuid != null" >
        custom_guid,
      </if>
      <if test="customNo != null" >
        custom_no,
      </if>
      <if test="clueGuid != null" >
        clue_guid,
      </if>
      <if test="clueNo != null" >
        clue_no,
      </if>
      <if test="tool != null" >
        tool,
      </if>
      <if test="communicatTime != null" >
        communicat_time,
      </if>
      <if test="nextCommunicateTime != null" >
        next_communicate_time,
      </if>
      <if test="clueStatus != null" >
        clue_status,
      </if>
      <if test="oldClueStatus != null" >
        old_clue_status,
      </if>
      <if test="communicateDepart != null" >
        communicate_depart,
      </if>
      <if test="commucinateStatus != null" >
        commucinate_status,
      </if>
      <if test="telTrafficStatus != null" >
        tel_traffic_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="erpCreatedBy != null" >
        erp_created_by,
      </if>
      <if test="erpGdGtjdNext != null" >
        erp_gd_gtjd_next,
      </if>
      <if test="erpGdName != null" >
        erp_gd_name,
      </if>
      <if test="erpGdActionproject != null" >
        erp_gd_actionproject,
      </if>
      <if test="guid != null" >
        guid,
      </if>
      <if test="erpCreateBy != null" >
        erp_create_by,
      </if>
      <if test="callRecordId != null" >
        call_record_id,
      </if>
      <if test="communicateRecordType != null" >
        communicate_record_type,
      </if>
      <if test="callDuration != null" >
        call_duration,
      </if>
      <if test="isPushedToErp != null" >
        is_pushed_to_erp,
      </if>
      <if test="pushFailTime != null" >
        push_fail_time,
      </if>
      <if test="communicatContent != null" >
        communicat_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customGuid != null" >
        #{customGuid,jdbcType=VARCHAR},
      </if>
      <if test="customNo != null" >
        #{customNo,jdbcType=VARCHAR},
      </if>
      <if test="clueGuid != null" >
        #{clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="clueNo != null" >
        #{clueNo,jdbcType=VARCHAR},
      </if>
      <if test="tool != null" >
        #{tool,jdbcType=INTEGER},
      </if>
      <if test="communicatTime != null" >
        #{communicatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextCommunicateTime != null" >
        #{nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clueStatus != null" >
        #{clueStatus,jdbcType=VARCHAR},
      </if>
      <if test="oldClueStatus != null" >
        #{oldClueStatus,jdbcType=VARCHAR},
      </if>
      <if test="communicateDepart != null" >
        #{communicateDepart,jdbcType=VARCHAR},
      </if>
      <if test="commucinateStatus != null" >
        #{commucinateStatus,jdbcType=INTEGER},
      </if>
      <if test="telTrafficStatus != null" >
        #{telTrafficStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="erpCreatedBy != null" >
        #{erpCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="erpGdGtjdNext != null" >
        #{erpGdGtjdNext,jdbcType=VARCHAR},
      </if>
      <if test="erpGdName != null" >
        #{erpGdName,jdbcType=VARCHAR},
      </if>
      <if test="erpGdActionproject != null" >
        #{erpGdActionproject,jdbcType=VARCHAR},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="erpCreateBy != null" >
        #{erpCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="callRecordId != null" >
        #{callRecordId,jdbcType=INTEGER},
      </if>
      <if test="communicateRecordType != null" >
        #{communicateRecordType,jdbcType=INTEGER},
      </if>
      <if test="callDuration != null" >
        #{callDuration,jdbcType=INTEGER},
      </if>
      <if test="isPushedToErp != null" >
        #{isPushedToErp,jdbcType=INTEGER},
      </if>
      <if test="pushFailTime != null" >
        #{pushFailTime,jdbcType=INTEGER},
      </if>
      <if test="communicatContent != null" >
        #{communicatContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.am.es.entity.ClueCommunicateRecordExample" resultType="java.lang.Integer" >
    select count(*) from clue_communicate_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clue_communicate_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customGuid != null" >
        custom_guid = #{record.customGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.customNo != null" >
        custom_no = #{record.customNo,jdbcType=VARCHAR},
      </if>
      <if test="record.clueGuid != null" >
        clue_guid = #{record.clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.clueNo != null" >
        clue_no = #{record.clueNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tool != null" >
        tool = #{record.tool,jdbcType=INTEGER},
      </if>
      <if test="record.communicatTime != null" >
        communicat_time = #{record.communicatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nextCommunicateTime != null" >
        next_communicate_time = #{record.nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clueStatus != null" >
        clue_status = #{record.clueStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.oldClueStatus != null" >
        old_clue_status = #{record.oldClueStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.communicateDepart != null" >
        communicate_depart = #{record.communicateDepart,jdbcType=VARCHAR},
      </if>
      <if test="record.commucinateStatus != null" >
        commucinate_status = #{record.commucinateStatus,jdbcType=INTEGER},
      </if>
      <if test="record.telTrafficStatus != null" >
        tel_traffic_status = #{record.telTrafficStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.erpCreatedBy != null" >
        erp_created_by = #{record.erpCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.erpGdGtjdNext != null" >
        erp_gd_gtjd_next = #{record.erpGdGtjdNext,jdbcType=VARCHAR},
      </if>
      <if test="record.erpGdName != null" >
        erp_gd_name = #{record.erpGdName,jdbcType=VARCHAR},
      </if>
      <if test="record.erpGdActionproject != null" >
        erp_gd_actionproject = #{record.erpGdActionproject,jdbcType=VARCHAR},
      </if>
      <if test="record.guid != null" >
        guid = #{record.guid,jdbcType=VARCHAR},
      </if>
      <if test="record.erpCreateBy != null" >
        erp_create_by = #{record.erpCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.callRecordId != null" >
        call_record_id = #{record.callRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.communicateRecordType != null" >
        communicate_record_type = #{record.communicateRecordType,jdbcType=INTEGER},
      </if>
      <if test="record.callDuration != null" >
        call_duration = #{record.callDuration,jdbcType=INTEGER},
      </if>
      <if test="record.isPushedToErp != null" >
        is_pushed_to_erp = #{record.isPushedToErp,jdbcType=INTEGER},
      </if>
      <if test="record.pushFailTime != null" >
        push_fail_time = #{record.pushFailTime,jdbcType=INTEGER},
      </if>
      <if test="record.communicatContent != null" >
        communicat_content = #{record.communicatContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update clue_communicate_record
    set id = #{record.id,jdbcType=INTEGER},
      custom_guid = #{record.customGuid,jdbcType=VARCHAR},
      custom_no = #{record.customNo,jdbcType=VARCHAR},
      clue_guid = #{record.clueGuid,jdbcType=VARCHAR},
      clue_no = #{record.clueNo,jdbcType=VARCHAR},
      tool = #{record.tool,jdbcType=INTEGER},
      communicat_time = #{record.communicatTime,jdbcType=TIMESTAMP},
      next_communicate_time = #{record.nextCommunicateTime,jdbcType=TIMESTAMP},
      clue_status = #{record.clueStatus,jdbcType=VARCHAR},
      old_clue_status = #{record.oldClueStatus,jdbcType=VARCHAR},
      communicate_depart = #{record.communicateDepart,jdbcType=VARCHAR},
      commucinate_status = #{record.commucinateStatus,jdbcType=INTEGER},
      tel_traffic_status = #{record.telTrafficStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      erp_created_by = #{record.erpCreatedBy,jdbcType=VARCHAR},
      erp_gd_gtjd_next = #{record.erpGdGtjdNext,jdbcType=VARCHAR},
      erp_gd_name = #{record.erpGdName,jdbcType=VARCHAR},
      erp_gd_actionproject = #{record.erpGdActionproject,jdbcType=VARCHAR},
      guid = #{record.guid,jdbcType=VARCHAR},
      erp_create_by = #{record.erpCreateBy,jdbcType=VARCHAR},
      call_record_id = #{record.callRecordId,jdbcType=INTEGER},
      communicate_record_type = #{record.communicateRecordType,jdbcType=INTEGER},
      call_duration = #{record.callDuration,jdbcType=INTEGER},
      is_pushed_to_erp = #{record.isPushedToErp,jdbcType=INTEGER},
      push_fail_time = #{record.pushFailTime,jdbcType=INTEGER},
      communicat_content = #{record.communicatContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clue_communicate_record
    set id = #{record.id,jdbcType=INTEGER},
      custom_guid = #{record.customGuid,jdbcType=VARCHAR},
      custom_no = #{record.customNo,jdbcType=VARCHAR},
      clue_guid = #{record.clueGuid,jdbcType=VARCHAR},
      clue_no = #{record.clueNo,jdbcType=VARCHAR},
      tool = #{record.tool,jdbcType=INTEGER},
      communicat_time = #{record.communicatTime,jdbcType=TIMESTAMP},
      next_communicate_time = #{record.nextCommunicateTime,jdbcType=TIMESTAMP},
      clue_status = #{record.clueStatus,jdbcType=VARCHAR},
      old_clue_status = #{record.oldClueStatus,jdbcType=VARCHAR},
      communicate_depart = #{record.communicateDepart,jdbcType=VARCHAR},
      commucinate_status = #{record.commucinateStatus,jdbcType=INTEGER},
      tel_traffic_status = #{record.telTrafficStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      erp_created_by = #{record.erpCreatedBy,jdbcType=VARCHAR},
      erp_gd_gtjd_next = #{record.erpGdGtjdNext,jdbcType=VARCHAR},
      erp_gd_name = #{record.erpGdName,jdbcType=VARCHAR},
      erp_gd_actionproject = #{record.erpGdActionproject,jdbcType=VARCHAR},
      guid = #{record.guid,jdbcType=VARCHAR},
      erp_create_by = #{record.erpCreateBy,jdbcType=VARCHAR},
      call_record_id = #{record.callRecordId,jdbcType=INTEGER},
      communicate_record_type = #{record.communicateRecordType,jdbcType=INTEGER},
      call_duration = #{record.callDuration,jdbcType=INTEGER},
      is_pushed_to_erp = #{record.isPushedToErp,jdbcType=INTEGER},
      push_fail_time = #{record.pushFailTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.am.es.entity.ClueCommunicateRecord" >
    update clue_communicate_record
    <set >
      <if test="customGuid != null" >
        custom_guid = #{customGuid,jdbcType=VARCHAR},
      </if>
      <if test="customNo != null" >
        custom_no = #{customNo,jdbcType=VARCHAR},
      </if>
      <if test="clueGuid != null" >
        clue_guid = #{clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="clueNo != null" >
        clue_no = #{clueNo,jdbcType=VARCHAR},
      </if>
      <if test="tool != null" >
        tool = #{tool,jdbcType=INTEGER},
      </if>
      <if test="communicatTime != null" >
        communicat_time = #{communicatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextCommunicateTime != null" >
        next_communicate_time = #{nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clueStatus != null" >
        clue_status = #{clueStatus,jdbcType=VARCHAR},
      </if>
      <if test="oldClueStatus != null" >
        old_clue_status = #{oldClueStatus,jdbcType=VARCHAR},
      </if>
      <if test="communicateDepart != null" >
        communicate_depart = #{communicateDepart,jdbcType=VARCHAR},
      </if>
      <if test="commucinateStatus != null" >
        commucinate_status = #{commucinateStatus,jdbcType=INTEGER},
      </if>
      <if test="telTrafficStatus != null" >
        tel_traffic_status = #{telTrafficStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="erpCreatedBy != null" >
        erp_created_by = #{erpCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="erpGdGtjdNext != null" >
        erp_gd_gtjd_next = #{erpGdGtjdNext,jdbcType=VARCHAR},
      </if>
      <if test="erpGdName != null" >
        erp_gd_name = #{erpGdName,jdbcType=VARCHAR},
      </if>
      <if test="erpGdActionproject != null" >
        erp_gd_actionproject = #{erpGdActionproject,jdbcType=VARCHAR},
      </if>
      <if test="guid != null" >
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="erpCreateBy != null" >
        erp_create_by = #{erpCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="callRecordId != null" >
        call_record_id = #{callRecordId,jdbcType=INTEGER},
      </if>
      <if test="communicateRecordType != null" >
        communicate_record_type = #{communicateRecordType,jdbcType=INTEGER},
      </if>
      <if test="callDuration != null" >
        call_duration = #{callDuration,jdbcType=INTEGER},
      </if>
      <if test="isPushedToErp != null" >
        is_pushed_to_erp = #{isPushedToErp,jdbcType=INTEGER},
      </if>
      <if test="pushFailTime != null" >
        push_fail_time = #{pushFailTime,jdbcType=INTEGER},
      </if>
      <if test="communicatContent != null" >
        communicat_content = #{communicatContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.am.es.entity.ClueCommunicateRecord" >
    update clue_communicate_record
    set custom_guid = #{customGuid,jdbcType=VARCHAR},
      custom_no = #{customNo,jdbcType=VARCHAR},
      clue_guid = #{clueGuid,jdbcType=VARCHAR},
      clue_no = #{clueNo,jdbcType=VARCHAR},
      tool = #{tool,jdbcType=INTEGER},
      communicat_time = #{communicatTime,jdbcType=TIMESTAMP},
      next_communicate_time = #{nextCommunicateTime,jdbcType=TIMESTAMP},
      clue_status = #{clueStatus,jdbcType=VARCHAR},
      old_clue_status = #{oldClueStatus,jdbcType=VARCHAR},
      communicate_depart = #{communicateDepart,jdbcType=VARCHAR},
      commucinate_status = #{commucinateStatus,jdbcType=INTEGER},
      tel_traffic_status = #{telTrafficStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      erp_created_by = #{erpCreatedBy,jdbcType=VARCHAR},
      erp_gd_gtjd_next = #{erpGdGtjdNext,jdbcType=VARCHAR},
      erp_gd_name = #{erpGdName,jdbcType=VARCHAR},
      erp_gd_actionproject = #{erpGdActionproject,jdbcType=VARCHAR},
      guid = #{guid,jdbcType=VARCHAR},
      erp_create_by = #{erpCreateBy,jdbcType=VARCHAR},
      call_record_id = #{callRecordId,jdbcType=INTEGER},
      communicate_record_type = #{communicateRecordType,jdbcType=INTEGER},
      call_duration = #{callDuration,jdbcType=INTEGER},
      is_pushed_to_erp = #{isPushedToErp,jdbcType=INTEGER},
      push_fail_time = #{pushFailTime,jdbcType=INTEGER},
      communicat_content = #{communicatContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.am.es.entity.ClueCommunicateRecord" >
    update clue_communicate_record
    set custom_guid = #{customGuid,jdbcType=VARCHAR},
      custom_no = #{customNo,jdbcType=VARCHAR},
      clue_guid = #{clueGuid,jdbcType=VARCHAR},
      clue_no = #{clueNo,jdbcType=VARCHAR},
      tool = #{tool,jdbcType=INTEGER},
      communicat_time = #{communicatTime,jdbcType=TIMESTAMP},
      next_communicate_time = #{nextCommunicateTime,jdbcType=TIMESTAMP},
      clue_status = #{clueStatus,jdbcType=VARCHAR},
      old_clue_status = #{oldClueStatus,jdbcType=VARCHAR},
      communicate_depart = #{communicateDepart,jdbcType=VARCHAR},
      commucinate_status = #{commucinateStatus,jdbcType=INTEGER},
      tel_traffic_status = #{telTrafficStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      erp_created_by = #{erpCreatedBy,jdbcType=VARCHAR},
      erp_gd_gtjd_next = #{erpGdGtjdNext,jdbcType=VARCHAR},
      erp_gd_name = #{erpGdName,jdbcType=VARCHAR},
      erp_gd_actionproject = #{erpGdActionproject,jdbcType=VARCHAR},
      guid = #{guid,jdbcType=VARCHAR},
      erp_create_by = #{erpCreateBy,jdbcType=VARCHAR},
      call_record_id = #{callRecordId,jdbcType=INTEGER},
      communicate_record_type = #{communicateRecordType,jdbcType=INTEGER},
      call_duration = #{callDuration,jdbcType=INTEGER},
      is_pushed_to_erp = #{isPushedToErp,jdbcType=INTEGER},
      push_fail_time = #{pushFailTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>