<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.es.dao.ClueFollowUpingMapper" >
  <resultMap id="BaseResultMap" type="com.am.es.entity.ClueFollowUping" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clue_guid" property="clueGuid" jdbcType="VARCHAR" />
    <result column="clue_no" property="clueNo" jdbcType="VARCHAR" />
    <result column="custom_guid" property="customGuid" jdbcType="VARCHAR" />
    <result column="custom_no" property="customNo" jdbcType="VARCHAR" />
    <result column="clue_stage" property="clueStage" jdbcType="INTEGER" />
    <result column="next_communicate_time" property="nextCommunicateTime" jdbcType="TIMESTAMP" />
    <result column="plan_recovery_time" property="planRecoveryTime" jdbcType="TIMESTAMP" />
    <result column="clue_owner" property="clueOwner" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clue_guid, clue_no, custom_guid, custom_no, clue_stage, next_communicate_time, 
    plan_recovery_time, clue_owner, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.am.es.entity.ClueFollowUpingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clue_follow_uping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clue_follow_uping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clue_follow_uping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.am.es.entity.ClueFollowUpingExample" >
    delete from clue_follow_uping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.am.es.entity.ClueFollowUping" >
    insert into clue_follow_uping (id, clue_guid, clue_no, 
      custom_guid, custom_no, clue_stage, 
      next_communicate_time, plan_recovery_time, 
      clue_owner, create_time, create_by, 
      update_time, update_by)
    values (#{id,jdbcType=INTEGER}, #{clueGuid,jdbcType=VARCHAR}, #{clueNo,jdbcType=VARCHAR}, 
      #{customGuid,jdbcType=VARCHAR}, #{customNo,jdbcType=VARCHAR}, #{clueStage,jdbcType=INTEGER}, 
      #{nextCommunicateTime,jdbcType=TIMESTAMP}, #{planRecoveryTime,jdbcType=TIMESTAMP}, 
      #{clueOwner,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.am.es.entity.ClueFollowUping" >
    insert into clue_follow_uping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clueGuid != null" >
        clue_guid,
      </if>
      <if test="clueNo != null" >
        clue_no,
      </if>
      <if test="customGuid != null" >
        custom_guid,
      </if>
      <if test="customNo != null" >
        custom_no,
      </if>
      <if test="clueStage != null" >
        clue_stage,
      </if>
      <if test="nextCommunicateTime != null" >
        next_communicate_time,
      </if>
      <if test="planRecoveryTime != null" >
        plan_recovery_time,
      </if>
      <if test="clueOwner != null" >
        clue_owner,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clueGuid != null" >
        #{clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="clueNo != null" >
        #{clueNo,jdbcType=VARCHAR},
      </if>
      <if test="customGuid != null" >
        #{customGuid,jdbcType=VARCHAR},
      </if>
      <if test="customNo != null" >
        #{customNo,jdbcType=VARCHAR},
      </if>
      <if test="clueStage != null" >
        #{clueStage,jdbcType=INTEGER},
      </if>
      <if test="nextCommunicateTime != null" >
        #{nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planRecoveryTime != null" >
        #{planRecoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clueOwner != null" >
        #{clueOwner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.am.es.entity.ClueFollowUpingExample" resultType="java.lang.Integer" >
    select count(*) from clue_follow_uping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clue_follow_uping
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clueGuid != null" >
        clue_guid = #{record.clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.clueNo != null" >
        clue_no = #{record.clueNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customGuid != null" >
        custom_guid = #{record.customGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.customNo != null" >
        custom_no = #{record.customNo,jdbcType=VARCHAR},
      </if>
      <if test="record.clueStage != null" >
        clue_stage = #{record.clueStage,jdbcType=INTEGER},
      </if>
      <if test="record.nextCommunicateTime != null" >
        next_communicate_time = #{record.nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planRecoveryTime != null" >
        plan_recovery_time = #{record.planRecoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clueOwner != null" >
        clue_owner = #{record.clueOwner,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clue_follow_uping
    set id = #{record.id,jdbcType=INTEGER},
      clue_guid = #{record.clueGuid,jdbcType=VARCHAR},
      clue_no = #{record.clueNo,jdbcType=VARCHAR},
      custom_guid = #{record.customGuid,jdbcType=VARCHAR},
      custom_no = #{record.customNo,jdbcType=VARCHAR},
      clue_stage = #{record.clueStage,jdbcType=INTEGER},
      next_communicate_time = #{record.nextCommunicateTime,jdbcType=TIMESTAMP},
      plan_recovery_time = #{record.planRecoveryTime,jdbcType=TIMESTAMP},
      clue_owner = #{record.clueOwner,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.am.es.entity.ClueFollowUping" >
    update clue_follow_uping
    <set >
      <if test="clueGuid != null" >
        clue_guid = #{clueGuid,jdbcType=VARCHAR},
      </if>
      <if test="clueNo != null" >
        clue_no = #{clueNo,jdbcType=VARCHAR},
      </if>
      <if test="customGuid != null" >
        custom_guid = #{customGuid,jdbcType=VARCHAR},
      </if>
      <if test="customNo != null" >
        custom_no = #{customNo,jdbcType=VARCHAR},
      </if>
      <if test="clueStage != null" >
        clue_stage = #{clueStage,jdbcType=INTEGER},
      </if>
      <if test="nextCommunicateTime != null" >
        next_communicate_time = #{nextCommunicateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planRecoveryTime != null" >
        plan_recovery_time = #{planRecoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clueOwner != null" >
        clue_owner = #{clueOwner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.am.es.entity.ClueFollowUping" >
    update clue_follow_uping
    set clue_guid = #{clueGuid,jdbcType=VARCHAR},
      clue_no = #{clueNo,jdbcType=VARCHAR},
      custom_guid = #{customGuid,jdbcType=VARCHAR},
      custom_no = #{customNo,jdbcType=VARCHAR},
      clue_stage = #{clueStage,jdbcType=INTEGER},
      next_communicate_time = #{nextCommunicateTime,jdbcType=TIMESTAMP},
      plan_recovery_time = #{planRecoveryTime,jdbcType=TIMESTAMP},
      clue_owner = #{clueOwner,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>