<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.es.cluedao.CustomContactInfoDetailMapper" >
  <resultMap id="BaseResultMap" type="com.am.es.clueentity.CustomContactInfoDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="custom_id" property="customId" jdbcType="INTEGER" />
    <result column="custom_contacts_id" property="customContactsId" jdbcType="INTEGER" />
    <result column="contacts_tool" property="contactsTool" jdbcType="INTEGER" />
    <result column="contacts_no" property="contactsNo" jdbcType="VARCHAR" />
    <result column="old_custom_guid" property="oldCustomGuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="contact_no_md5" property="contactNoMd5" jdbcType="VARCHAR" />
    <result column="dba" property="dba" jdbcType="VARCHAR" />
    <result column="show_contacts_no" property="showContactsNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, custom_id, custom_contacts_id, contacts_tool, contacts_no, old_custom_guid, create_time, 
    create_by, update_time, update_by, user_id, contact_no_md5, dba, show_contacts_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.am.es.clueentity.CustomContactInfoDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from custom_contact_info_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from custom_contact_info_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from custom_contact_info_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.am.es.clueentity.CustomContactInfoDetailExample" >
    delete from custom_contact_info_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.am.es.clueentity.CustomContactInfoDetail" >
    insert into custom_contact_info_detail (id, custom_id, custom_contacts_id, 
      contacts_tool, contacts_no, old_custom_guid, 
      create_time, create_by, update_time, 
      update_by, user_id, contact_no_md5, 
      dba, show_contacts_no)
    values (#{id,jdbcType=INTEGER}, #{customId,jdbcType=INTEGER}, #{customContactsId,jdbcType=INTEGER}, 
      #{contactsTool,jdbcType=INTEGER}, #{contactsNo,jdbcType=VARCHAR}, #{oldCustomGuid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{contactNoMd5,jdbcType=VARCHAR}, 
      #{dba,jdbcType=VARCHAR}, #{showContactsNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.am.es.clueentity.CustomContactInfoDetail" >
    insert into custom_contact_info_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customId != null" >
        custom_id,
      </if>
      <if test="customContactsId != null" >
        custom_contacts_id,
      </if>
      <if test="contactsTool != null" >
        contacts_tool,
      </if>
      <if test="contactsNo != null" >
        contacts_no,
      </if>
      <if test="oldCustomGuid != null" >
        old_custom_guid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contactNoMd5 != null" >
        contact_no_md5,
      </if>
      <if test="dba != null" >
        dba,
      </if>
      <if test="showContactsNo != null" >
        show_contacts_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customId != null" >
        #{customId,jdbcType=INTEGER},
      </if>
      <if test="customContactsId != null" >
        #{customContactsId,jdbcType=INTEGER},
      </if>
      <if test="contactsTool != null" >
        #{contactsTool,jdbcType=INTEGER},
      </if>
      <if test="contactsNo != null" >
        #{contactsNo,jdbcType=VARCHAR},
      </if>
      <if test="oldCustomGuid != null" >
        #{oldCustomGuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="contactNoMd5 != null" >
        #{contactNoMd5,jdbcType=VARCHAR},
      </if>
      <if test="dba != null" >
        #{dba,jdbcType=VARCHAR},
      </if>
      <if test="showContactsNo != null" >
        #{showContactsNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.am.es.clueentity.CustomContactInfoDetailExample" resultType="java.lang.Integer" >
    select count(*) from custom_contact_info_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update custom_contact_info_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customId != null" >
        custom_id = #{record.customId,jdbcType=INTEGER},
      </if>
      <if test="record.customContactsId != null" >
        custom_contacts_id = #{record.customContactsId,jdbcType=INTEGER},
      </if>
      <if test="record.contactsTool != null" >
        contacts_tool = #{record.contactsTool,jdbcType=INTEGER},
      </if>
      <if test="record.contactsNo != null" >
        contacts_no = #{record.contactsNo,jdbcType=VARCHAR},
      </if>
      <if test="record.oldCustomGuid != null" >
        old_custom_guid = #{record.oldCustomGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.contactNoMd5 != null" >
        contact_no_md5 = #{record.contactNoMd5,jdbcType=VARCHAR},
      </if>
      <if test="record.dba != null" >
        dba = #{record.dba,jdbcType=VARCHAR},
      </if>
      <if test="record.showContactsNo != null" >
        show_contacts_no = #{record.showContactsNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update custom_contact_info_detail
    set id = #{record.id,jdbcType=INTEGER},
      custom_id = #{record.customId,jdbcType=INTEGER},
      custom_contacts_id = #{record.customContactsId,jdbcType=INTEGER},
      contacts_tool = #{record.contactsTool,jdbcType=INTEGER},
      contacts_no = #{record.contactsNo,jdbcType=VARCHAR},
      old_custom_guid = #{record.oldCustomGuid,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      contact_no_md5 = #{record.contactNoMd5,jdbcType=VARCHAR},
      dba = #{record.dba,jdbcType=VARCHAR},
      show_contacts_no = #{record.showContactsNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.am.es.clueentity.CustomContactInfoDetail" >
    update custom_contact_info_detail
    <set >
      <if test="customId != null" >
        custom_id = #{customId,jdbcType=INTEGER},
      </if>
      <if test="customContactsId != null" >
        custom_contacts_id = #{customContactsId,jdbcType=INTEGER},
      </if>
      <if test="contactsTool != null" >
        contacts_tool = #{contactsTool,jdbcType=INTEGER},
      </if>
      <if test="contactsNo != null" >
        contacts_no = #{contactsNo,jdbcType=VARCHAR},
      </if>
      <if test="oldCustomGuid != null" >
        old_custom_guid = #{oldCustomGuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="contactNoMd5 != null" >
        contact_no_md5 = #{contactNoMd5,jdbcType=VARCHAR},
      </if>
      <if test="dba != null" >
        dba = #{dba,jdbcType=VARCHAR},
      </if>
      <if test="showContactsNo != null" >
        show_contacts_no = #{showContactsNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.am.es.clueentity.CustomContactInfoDetail" >
    update custom_contact_info_detail
    set custom_id = #{customId,jdbcType=INTEGER},
      custom_contacts_id = #{customContactsId,jdbcType=INTEGER},
      contacts_tool = #{contactsTool,jdbcType=INTEGER},
      contacts_no = #{contactsNo,jdbcType=VARCHAR},
      old_custom_guid = #{oldCustomGuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      contact_no_md5 = #{contactNoMd5,jdbcType=VARCHAR},
      dba = #{dba,jdbcType=VARCHAR},
      show_contacts_no = #{showContactsNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByPrimaryKeyList" parameterType="java.util.List" resultType="com.am.es.model.CustomContactInfoDetailVo">
    SELECT * FROM custom_contact_info_detail
    <where>
      id IN
      <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </where>
  </select>
</mapper>