<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.es.dao.clue.ClueInfoMapper">
    <resultMap id="BaseResultMap" type="com.am.es.entity.clue.ClueInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="clue_no" property="clueNo" jdbcType="VARCHAR"/>
        <result column="custom_id" property="customId" jdbcType="INTEGER"/>
        <result column="custom_no" property="customNo" jdbcType="VARCHAR"/>
        <result column="intention" property="intention" jdbcType="INTEGER"/>
        <result column="intention_grade" property="intentionGrade" jdbcType="INTEGER"/>
        <result column="first_channel_code" property="firstChannelCode" jdbcType="VARCHAR"/>
        <result column="effectively_channel_code" property="effectivelyChannelCode" jdbcType="VARCHAR"/>
        <result column="course_type" property="courseType" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="INTEGER"/>
        <result column="channel_code_sub" property="channelCodeSub" jdbcType="INTEGER"/>
        <result column="source_channel_code" property="sourceChannelCode" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.am.es.model.clue.ClueInfoVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="clue_no" property="clueNo" jdbcType="VARCHAR"/>
        <result column="custom_id" property="customId" jdbcType="INTEGER"/>
        <result column="custom_no" property="customNo" jdbcType="VARCHAR"/>
        <result column="intention" property="intention" jdbcType="INTEGER"/>
        <result column="intention_grade" property="intentionGrade" jdbcType="INTEGER"/>
        <result column="first_channel_code" property="firstChannelCode" jdbcType="VARCHAR"/>
        <result column="effectively_channel_code" property="effectivelyChannelCode" jdbcType="VARCHAR"/>
        <result column="course_type" property="courseType" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="INTEGER"/>
        <result column="channel_code_sub" property="channelCodeSub" jdbcType="INTEGER"/>
        <result column="source_channel_code" property="sourceChannelCode" jdbcType="VARCHAR"/>
        <association property="clueStatusVo" javaType="com.am.es.model.clue.ClueStatusVo">
            <id column="status_id" property="id" jdbcType="INTEGER" />
            <result column="status_clue_id" property="clueId" jdbcType="INTEGER" />
            <result column="status_clue_no" property="clueNo" jdbcType="VARCHAR" />
            <result column="status_custom_id" property="customId" jdbcType="INTEGER" />
            <result column="status_custom_no" property="customNo" jdbcType="VARCHAR" />
            <result column="clue_source" property="clueSource" jdbcType="INTEGER" />
            <result column="clue_sale_owner" property="clueSaleOwner" jdbcType="INTEGER" />
            <result column="clue_tmk_owner" property="clueTmkOwner" jdbcType="INTEGER" />
            <result column="clue_cs_owner" property="clueCsOwner" jdbcType="INTEGER" />
            <result column="clue_school_manager_owner" property="clueSchoolManagerOwner" jdbcType="INTEGER" />
            <result column="clue_owner_deparment" property="clueOwnerDeparment" jdbcType="INTEGER" />
            <result column="clue_owner" property="clueOwner" jdbcType="INTEGER" />
            <result column="clue_ower_get_time" property="clueOwerGetTime" jdbcType="TIMESTAMP" />
            <result column="repeat_consultation_channel" property="repeatConsultationChannel" jdbcType="VARCHAR" />
            <result column="repeat_consultation_owner" property="repeatConsultationOwner" jdbcType="INTEGER" />
            <result column="repeat_consultation_time" property="repeatConsultationTime" jdbcType="TIMESTAMP" />
            <result column="recommender" property="recommender" jdbcType="VARCHAR" />
            <result column="recommend_time" property="recommendTime" jdbcType="TIMESTAMP" />
            <result column="status_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="status_update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="status_create_by" property="createBy" jdbcType="INTEGER" />
            <result column="status_update_by" property="updateBy" jdbcType="INTEGER" />
            <result column="id_guid" property="idGuid" jdbcType="VARCHAR" />
            <result column="recommend_type" property="recommendType" jdbcType="INTEGER" />
            <result column="erp_recommender" property="erpRecommender" jdbcType="VARCHAR" />
            <result column="erp_clue_owner" property="erpClueOwner" jdbcType="VARCHAR" />
            <result column="associates" property="associates" jdbcType="VARCHAR" />
            <result column="is_private_pool" property="isPrivatePool" jdbcType="TINYINT" />
            <result column="clue_owner_communicate_count" property="clueOwnerCommunicateCount" jdbcType="INTEGER" />
        </association>
        <association property="clueDescribeVo" javaType="com.am.es.model.clue.ClueDescribeVo">
            <id column="describe_id" property="id" jdbcType="INTEGER" />
            <result column="describe_clue_id" property="clueId" jdbcType="INTEGER" />
            <result column="describe_clue_no" property="clueNo" jdbcType="VARCHAR" />
            <result column="describe_custom_id" property="customId" jdbcType="INTEGER" />
            <result column="describe_custom_no" property="customNo" jdbcType="VARCHAR" />
            <result column="clue_type" property="clueType" jdbcType="INTEGER" />
            <result column="clue_status" property="clueStatus" jdbcType="VARCHAR" />
            <result column="clue_quality" property="clueQuality" jdbcType="INTEGER" />
            <result column="next_communicate_time" property="nextCommunicateTime" jdbcType="TIMESTAMP" />
            <result column="last_communicate_time" property="lastCommunicateTime" jdbcType="TIMESTAMP" />
            <result column="convenience_course_time" property="convenienceCourseTime" jdbcType="VARCHAR" />
            <result column="exam_time" property="examTime" jdbcType="TIMESTAMP" />
            <result column="last_communicater" property="lastCommunicater" jdbcType="INTEGER" />
            <result column="is_deposit" property="isDeposit" jdbcType="INTEGER" />
            <result column="sale_connet_count" property="saleConnetCount" jdbcType="INTEGER" />
            <result column="tmk_failure_follow_count" property="tmkFailureFollowCount" jdbcType="INTEGER" />
            <result column="sale_failure_follow_count" property="saleFailureFollowCount" jdbcType="INTEGER" />
            <result column="sale_dial_count" property="saleDialCount" jdbcType="INTEGER" />
            <result column="repeat_consultation_count" property="repeatConsultationCount" jdbcType="INTEGER" />
            <result column="clue_stage" property="clueStage" jdbcType="INTEGER" />
            <result column="is_lock" property="isLock" jdbcType="INTEGER" />
            <result column="old_clue_guid" property="oldClueGuid" jdbcType="VARCHAR" />
            <result column="describe_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="describe_create_by" property="createBy" jdbcType="INTEGER" />
            <result column="describe_update_time" property="updateTime" jdbcType="TIMESTAMP" />
            <result column="describe_update_by" property="updateBy" jdbcType="INTEGER" />
            <result column="tmk_get_time" property="tmkGetTime" jdbcType="TIMESTAMP" />
            <result column="sale_get_time" property="saleGetTime" jdbcType="TIMESTAMP" />
            <result column="school_manager_get_time" property="schoolManagerGetTime" jdbcType="TIMESTAMP" />
            <result column="describe_id_guid" property="idGuid" jdbcType="VARCHAR" />
            <result column="IsMergeClue" property="ismergeclue" jdbcType="INTEGER" />
            <result column="TrafficState" property="trafficstate" jdbcType="INTEGER" />
            <result column="FailureReason" property="failurereason" jdbcType="INTEGER" />
            <result column="Urgency" property="urgency" jdbcType="INTEGER" />
            <result column="erp_ClueStatus" property="erpCluestatus" jdbcType="VARCHAR" />
            <result column="LastFollowBy" property="lastfollowby" jdbcType="INTEGER" />
            <result column="LastFollowTime" property="lastfollowtime" jdbcType="TIMESTAMP" />
            <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, clue_no, custom_id, custom_no, intention, intention_grade, first_channel_code, 
    effectively_channel_code, course_type, remark, create_time, create_by, update_time, 
    update_by, channel_code_sub, source_channel_code
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.am.es.entity.clue.ClueInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from clue_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from clue_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clue_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.am.es.entity.clue.ClueInfoExample">
        delete from clue_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.am.es.entity.clue.ClueInfo">
    insert into clue_info (id, clue_no, custom_id, 
      custom_no, intention, intention_grade, 
      first_channel_code, effectively_channel_code, 
      course_type, remark, create_time, 
      create_by, update_time, update_by, 
      channel_code_sub, source_channel_code)
    values (#{id,jdbcType=INTEGER}, #{clueNo,jdbcType=VARCHAR}, #{customId,jdbcType=INTEGER}, 
      #{customNo,jdbcType=VARCHAR}, #{intention,jdbcType=INTEGER}, #{intentionGrade,jdbcType=INTEGER}, 
      #{firstChannelCode,jdbcType=VARCHAR}, #{effectivelyChannelCode,jdbcType=VARCHAR}, 
      #{courseType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{channelCodeSub,jdbcType=INTEGER}, #{sourceChannelCode,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.am.es.entity.clue.ClueInfo">
        insert into clue_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clueNo != null">
                clue_no,
            </if>
            <if test="customId != null">
                custom_id,
            </if>
            <if test="customNo != null">
                custom_no,
            </if>
            <if test="intention != null">
                intention,
            </if>
            <if test="intentionGrade != null">
                intention_grade,
            </if>
            <if test="firstChannelCode != null">
                first_channel_code,
            </if>
            <if test="effectivelyChannelCode != null">
                effectively_channel_code,
            </if>
            <if test="courseType != null">
                course_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="channelCodeSub != null">
                channel_code_sub,
            </if>
            <if test="sourceChannelCode != null">
                source_channel_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clueNo != null">
                #{clueNo,jdbcType=VARCHAR},
            </if>
            <if test="customId != null">
                #{customId,jdbcType=INTEGER},
            </if>
            <if test="customNo != null">
                #{customNo,jdbcType=VARCHAR},
            </if>
            <if test="intention != null">
                #{intention,jdbcType=INTEGER},
            </if>
            <if test="intentionGrade != null">
                #{intentionGrade,jdbcType=INTEGER},
            </if>
            <if test="firstChannelCode != null">
                #{firstChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="effectivelyChannelCode != null">
                #{effectivelyChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="courseType != null">
                #{courseType,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="channelCodeSub != null">
                #{channelCodeSub,jdbcType=INTEGER},
            </if>
            <if test="sourceChannelCode != null">
                #{sourceChannelCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.am.es.entity.clue.ClueInfoExample" resultType="java.lang.Integer">
        select count(*) from clue_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update clue_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.clueNo != null">
                clue_no = #{record.clueNo,jdbcType=VARCHAR},
            </if>
            <if test="record.customId != null">
                custom_id = #{record.customId,jdbcType=INTEGER},
            </if>
            <if test="record.customNo != null">
                custom_no = #{record.customNo,jdbcType=VARCHAR},
            </if>
            <if test="record.intention != null">
                intention = #{record.intention,jdbcType=INTEGER},
            </if>
            <if test="record.intentionGrade != null">
                intention_grade = #{record.intentionGrade,jdbcType=INTEGER},
            </if>
            <if test="record.firstChannelCode != null">
                first_channel_code = #{record.firstChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="record.effectivelyChannelCode != null">
                effectively_channel_code = #{record.effectivelyChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="record.courseType != null">
                course_type = #{record.courseType,jdbcType=INTEGER},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createBy != null">
                create_by = #{record.createBy,jdbcType=INTEGER},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateBy != null">
                update_by = #{record.updateBy,jdbcType=INTEGER},
            </if>
            <if test="record.channelCodeSub != null">
                channel_code_sub = #{record.channelCodeSub,jdbcType=INTEGER},
            </if>
            <if test="record.sourceChannelCode != null">
                source_channel_code = #{record.sourceChannelCode,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update clue_info
        set id = #{record.id,jdbcType=INTEGER},
        clue_no = #{record.clueNo,jdbcType=VARCHAR},
        custom_id = #{record.customId,jdbcType=INTEGER},
        custom_no = #{record.customNo,jdbcType=VARCHAR},
        intention = #{record.intention,jdbcType=INTEGER},
        intention_grade = #{record.intentionGrade,jdbcType=INTEGER},
        first_channel_code = #{record.firstChannelCode,jdbcType=VARCHAR},
        effectively_channel_code = #{record.effectivelyChannelCode,jdbcType=VARCHAR},
        course_type = #{record.courseType,jdbcType=INTEGER},
        remark = #{record.remark,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        create_by = #{record.createBy,jdbcType=INTEGER},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        update_by = #{record.updateBy,jdbcType=INTEGER},
        channel_code_sub = #{record.channelCodeSub,jdbcType=INTEGER},
        source_channel_code = #{record.sourceChannelCode,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.am.es.entity.clue.ClueInfo">
        update clue_info
        <set>
            <if test="clueNo != null">
                clue_no = #{clueNo,jdbcType=VARCHAR},
            </if>
            <if test="customId != null">
                custom_id = #{customId,jdbcType=INTEGER},
            </if>
            <if test="customNo != null">
                custom_no = #{customNo,jdbcType=VARCHAR},
            </if>
            <if test="intention != null">
                intention = #{intention,jdbcType=INTEGER},
            </if>
            <if test="intentionGrade != null">
                intention_grade = #{intentionGrade,jdbcType=INTEGER},
            </if>
            <if test="firstChannelCode != null">
                first_channel_code = #{firstChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="effectivelyChannelCode != null">
                effectively_channel_code = #{effectivelyChannelCode,jdbcType=VARCHAR},
            </if>
            <if test="courseType != null">
                course_type = #{courseType,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="channelCodeSub != null">
                channel_code_sub = #{channelCodeSub,jdbcType=INTEGER},
            </if>
            <if test="sourceChannelCode != null">
                source_channel_code = #{sourceChannelCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.am.es.entity.clue.ClueInfo">
    update clue_info
    set clue_no = #{clueNo,jdbcType=VARCHAR},
      custom_id = #{customId,jdbcType=INTEGER},
      custom_no = #{customNo,jdbcType=VARCHAR},
      intention = #{intention,jdbcType=INTEGER},
      intention_grade = #{intentionGrade,jdbcType=INTEGER},
      first_channel_code = #{firstChannelCode,jdbcType=VARCHAR},
      effectively_channel_code = #{effectivelyChannelCode,jdbcType=VARCHAR},
      course_type = #{courseType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      channel_code_sub = #{channelCodeSub,jdbcType=INTEGER},
      source_channel_code = #{sourceChannelCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectListByPrimaryKeyList" parameterType="java.util.List" resultMap="BaseResultMapVo">
        SELECT
        clue_info.*,
        clue_status.id status_id,
        clue_status.clue_id status_clue_id,
        clue_status.clue_no status_clue_no,
        clue_status.custom_id status_custom_id,
        clue_status.custom_no status_custom_no,
        clue_status.clue_source,
        clue_status.clue_sale_owner,
        clue_status.clue_tmk_owner,
        clue_status.clue_cs_owner,
        clue_status.clue_school_manager_owner,
        clue_status.clue_owner_deparment,
        clue_status.clue_owner,
        clue_status.clue_ower_get_time,
        clue_status.repeat_consultation_channel,
        clue_status.repeat_consultation_owner,
        clue_status.repeat_consultation_time,
        clue_status.recommender,
        clue_status.recommend_time,
        clue_status.create_time status_create_time,
        clue_status.update_time status_update_time,
        clue_status.create_by status_create_by,
        clue_status.update_by status_update_by,
        clue_status.id_guid,
        clue_status.recommend_type,
        clue_status.erp_recommender,
        clue_status.erp_clue_owner,
        clue_status.associates,
        clue_status.is_private_pool,
        clue_status.clue_owner_communicate_count,

        clue_describe.id describe_id,
        clue_describe.clue_id describe_clue_id,
        clue_describe.clue_no describe_clue_no,
        clue_describe.custom_id describe_custom_id,
        clue_describe.custom_no describe_custom_no,
        clue_describe.clue_type,
        clue_describe.clue_status,
        clue_describe.clue_quality,
        clue_describe.next_communicate_time,
        clue_describe.last_communicate_time,
        clue_describe.convenience_course_time,
        clue_describe.exam_time,
        clue_describe.last_communicater,
        clue_describe.is_deposit,
        clue_describe.sale_connet_count,
        clue_describe.tmk_failure_follow_count,
        clue_describe.sale_failure_follow_count,
        clue_describe.sale_dial_count,
        clue_describe.repeat_consultation_count,
        clue_describe.clue_stage,
        clue_describe.is_lock,
        clue_describe.old_clue_guid,
        clue_describe.create_time describe_create_time,
        clue_describe.create_by describe_create_by,
        clue_describe.update_time describe_update_time,
        clue_describe.update_by describe_update_by,
        clue_describe.tmk_get_time,
        clue_describe.sale_get_time,
        clue_describe.school_manager_get_time,
        clue_describe.id_guid describe_id_guid,
        clue_describe.IsMergeClue,
        clue_describe.TrafficState,
        clue_describe.FailureReason,
        clue_describe.Urgency,
        clue_describe.erp_ClueStatus,
        clue_describe.LastFollowBy,
        clue_describe.LastFollowTime,
        clue_describe.update_at
        FROM
          clue_info
        LEFT JOIN
          clue_status ON clue_info.custom_id = clue_status.custom_id
        LEFT JOIN
          clue_describe ON clue_describe.custom_id = clue_info.custom_id
        <where>
            clue_info.id  IN
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>